.faculty{
	text-decoration:underline;
	text-align:center;
}

.item{
	color:green;
	Text-decoration:underline;
}

.item2{
	color:red;
	text-decoration:underline;
}

h3{
	color:blue;
	text-decoration:underline;
}

div{
	margin-left:40px;
}